/*
================
  GENERAL REST
================
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}
/*
================
  GENERAL REST
================
*/
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;500;700&display=swap");
/*
================
    VARIABLE
================
*/
:root {
  /* PRIMARY */
  --Grayish-blue: hsl(237, 18%, 59%);
  --Soft-red: hsl(345, 95%, 68%);
  /* NEUTRAL */
  --White: hsl(0, 0%, 100%);
  --Dark-desaturated-blue: hsl(236, 21%, 26%);
  --Very-dark-blue: hsl(235, 16%, 14%);
  --darkmostlydarkblue: hsl(234, 17%, 12%);
  /* headings font-sizes */
  --heading-one: 3.5rem;
  --heading-two: 2rem;
  --heading-three: 1.4rem;
  --heading-four: 0.8rem;
  --font-fam: "Red Hat Text", sans-serif;
  --font-weight: 700;
  /* end of headings font-size */
  --spacing: 0.25rem;
  --radius: 0.3rem;
  --cursor: pointer;
  --line-height: 1.5;
  /* brand color */
  --twitter-clr: #1da1f2;
  --facebook-clr: #4267b2;
  --pinterest-clr: #c8232c;
  --instagram-clr: #f09433;
}
/*
===================
  GENERAL STYLING
===================
*/
body {
  font-size: 0.65rem;
  font-family: var(--font-fam);
  min-height: 100vh;
  background-color: var(--clr-grey-10);
  line-height: var(--line-height);
  overflow-x: hidden;
  background-image: linear-gradient(
    to bottom,
    var(--darkmostlydarkblue),
    var(--Very-dark-blue)
  );
  position: relative;
}
h1 {
  font-size: var(--heading-one);
}
h2 {
  font-size: var(--heading-two);
}
a {
  text-decoration: none;
}
main {
  background-image: url(/images/bg-stars.svg);
  background-position: center;
  background-size: cover;
  color: white;
}
#xmas-light {
  width: 100%;
  height: 10vh;
}
.content-section {
  display: grid;
  place-items: center;
  text-align: center;
  height: 70vh;
  width: 93vw;
  margin: 0 auto;
}
.santa {
  width: 100px;
  margin-bottom: 1em;
}
.title h1 {
  font-size: 0.9rem;
  letter-spacing: var(--spacing);
  text-transform: uppercase;
}
.deadline {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.8rem;
  margin-top: 3em;
}
/* JS CLASS, SPAN ALL GRID */
.cover {
  display: grid;
  grid-template-columns: 1fr;
}
/* END OF JS CLASS, SPAN ALL GRID */
.box {
  width: 100%;
  height: auto;
  padding: 0.6em;
  position: relative;
}
.box h2 {
  color: var(--Soft-red);
}
.box::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: hsl(237, 20%, 21%);
  z-index: -1;
  border-radius: 9px;
}
.box::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: var(--Dark-desaturated-blue);
  z-index: -1;
  border-radius: 9px;
  box-shadow: 0 7px 2px rgba(0, 0, 0, 0.5);
}
.deadline-format p {
  margin: 1.5em 0 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}
.deadline-format p span {
  display: none;
}
/*
===================
      FOOTER
===================
*/
.contact {
  display: grid;
  place-items: center;
  width: 100%;
  height: calc(100vh - 80vh);
  background-image: url(/images/pattern-hills.svg);
  background-position: center;
  background-size: cover;
}
.contact-content {
  transform: translateY(40px);
}
.fa-facebook,
.fa-pinterest,
.fa-instagram {
  font-size: 1.3rem;
  color: var(--Grayish-blue);
}
.fa-facebook {
  color: var(--facebook-clr);
}
.fa-pinterest {
  color: var(--pinterest-clr);
}
.fa-instagram {
  color: var(--instagram-clr);
}
.contact-content a {
  margin: 0 1.2em;
}
.contact-content a :hover {
  color: var(--Soft-red);
  animation-name: jump;
  animation-timing-function: ease;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}
/* icon animations */
@keyframes jump {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.attribution {
  text-align: center;
  transform: translateY(8px);
  margin-bottom: 0.5em;
}
.attribution p {
  color: #fff;
  line-height: 1.3;
  margin: 4em 0 0;
  letter-spacing: 0.1rem;
}
.attribution p a {
  color: var(--Soft-red);
  text-transform: capitalize;
  text-decoration: underline;
}
@media screen and (min-width: 700px) {
  h2 {
    font-size: 2.5rem;
  }
  .deadline {
    gap: 1rem;
    margin-top: 4em;
  }
  .box {
    padding: 0.8em 1em;
    width: 100%;
    height: auto;
    position: relative;
  }
  .deadline-format p span {
    display: inline-block;
  }
  .fa-facebook,
  .fa-pinterest,
  .fa-instagram {
    font-size: 1.5rem;
  }
  .attribution p {
    font-size: 0.9rem;
  }
}
